
<%- include('header'); -%> 
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ex quasi officiis sint odio veritatis repellat fuga magnam, accusamus vel laborum rerum? Architecto pariatur ipsum expedita ex vero similique fugit eaque repudiandae quod in, rem deserunt quos perferendis incidunt itaque nihil est sapiente aliquam tenetur consectetur perspiciatis alias dignissimos. Minus.</h1>

<%- include ("footer") -%> 